.footer {
    background-color: $text-primary;
    position: relative;

    &::before {
        content: "";
        width: 64%;
        height: 0.75rem;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: -0.4rem;
    }

    .content__footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding-top: 5rem;
        align-items: flex-end;

        .widget__footer {
            width: 100%;
            max-width: 15.3125rem;

            &:first-child {
                max-width: 14.625rem;
            }

            &:last-child {
                max-width: 24.375rem;
            }

            .footer__contact {
                margin: 2.0469rem 0 1.25rem;

                .footer__content__h3 {
                    @include font-primaria(0.9375rem, 700);
                    color: $primary;
                    text-transform: uppercase;
                    text-decoration: underline;
                    margin-bottom: 1rem;
                }

                .footer__contact__info {
                    @include font-primaria(0.875rem, 400);
                    color: $white;
                    margin-bottom: 0.5rem;
                }
            }

            .sociais {
                margin-bottom: 1.5625rem;

                .sociais__h3 {
                    @include font-primaria(0.875rem, 700);
                    color: $primary;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }

                .midias {
                    display: flex;
                    gap: 0 1.5rem;
                }
            }

            .link {
                @include font-primaria(0.875rem, 700);
                color: $primary;
                text-transform: uppercase;
                text-decoration: underline;
                margin-bottom: 1rem;
            }

            .footer__menu {
                width: 100%;

                .menu-item {
                    width: 100%;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-top: 1.5rem;
                        margin-bottom: 0;

                        a {
                            background-color: $primary;
                            color: $text-primary;
                            border-radius: 0.375rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 7.5rem;
                            height: 3rem;
                            text-transform: uppercase;
                            border: 0.0625rem solid $primary;
                            text-decoration: none;
                            @include font-primaria(1rem, 700);
                            transition: all 0.4s;

                            @include mediaHover() {
                                &:hover {
                                    background-color: $text-primary;
                                    color: $primary;
                                    border: 0.0625rem solid $primary;
                                    transition: all 0.4s;
                                }
                            }
                        }
                    }

                    a {
                        @include font-primaria(0.875rem, 700);
                        color: $white;
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                }
            }

            .newsletter {
                width: 100%;

                .newsletter__h3 {
                    @include font-primaria(0.9375rem, 700);
                    color: $primary;
                    text-transform: uppercase;
                    margin-bottom: 0.625rem;
                }

                .form__class {
                    width: 100%;

                    form {
                        width: 100%;
                        position: relative;

                        .wpcf7-response-output {
                            position: absolute;
                            bottom: -3rem;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            max-width: 300px;
                            color: $white;
                            @include font-primaria(0.75rem, 400);
                        }

                        .form__row,
                        p {
                            width: 100%;
                            display: flex;
                            position: relative;

                            .field {
                                border: none;
                                height: 3rem;
                                border: 0.0625rem solid $white;
                                background-color: $text-primary;
                                color: $white;
                                @include font-primaria(0.875rem, 400);
                                padding-left: 1rem;

                                &:placeholder {
                                    opacity: 0.5;
                                }
                            }

                            .btn__primary {
                                position: absolute;
                                right: 0;
                                border-radius: 0;
                                width: 7.0625rem;
                                height: 3rem;
                            }

                            .oculto {
                                display: flex;
                                flex-direction: column;

                                .label__custom {
                                    @include font-primaria(1rem, 400);
                                    color: $white;
                                    text-decoration: underline;
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    position: relative;

                                    &.active {
                                        &::before {
                                            transform: rotateX(0);
                                            transition: all 0.4s;
                                        }
                                    }

                                    &::before {
                                        content: "";
                                        width: 0.75rem;
                                        height: 0.4375rem;
                                        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDYuODE5NjFDMCA2LjkyMTQ5IDAuMDQwMjgwNCA3LjAyNTc2IDAuMTE4NDcyIDcuMTAzOTVDMC4yNzQ4NTQgNy4yNjAzMyAwLjUzMDc1MyA3LjI2MDMzIDAuNjg3MTM2IDcuMTAzOTVMNi4wMzk2OSAxLjc1MTRMMTEuMzE0MSA3LjAyNTc2QzExLjQ3MDQgNy4xODIxNCAxMS43MjYzIDcuMTgyMTQgMTEuODgyNyA3LjAyNTc2QzEyLjAzOTEgNi44NjkzOCAxMi4wMzkxIDYuNjEzNDggMTEuODgyNyA2LjQ1NzFMNi4zMjQwMiAwLjg5NjAzNUM2LjE2NzY0IDAuNzM5NjUyIDUuOTExNzQgMC43Mzk2NTIgNS43NTUzNiAwLjg5NjAzNUwwLjExODQ3MiA2LjUzMjkyQzAuMDM3OTExIDYuNjEzNDggMCA2LjcxNTM1IDAgNi44MTk2MVoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=)
                                            no-repeat center;
                                        background-size: 100%;
                                        vertical-align: middle;
                                        position: absolute;
                                        right: -1.5rem;
                                        top: 1.2rem;
                                        bottom: 0;
                                        margin: auto;
                                        filter: invert(1);
                                        transform: rotateX(180deg);
                                        transition: all 0.4s;
                                    }
                                }

                                .content__oculto {
                                    width: 100%;
                                    position: absolute;
                                    width: 13rem;
                                    background-color: $white;
                                    top: 3rem;
                                    height: 0;
                                    z-index: 1;
                                    max-height: 0%;
                                    visibility: hidden;
                                    transition: all 0.4s;

                                    p {
                                        background-color: $white;
                                        padding: 1.625rem 1.5rem;
                                        border-bottom-left-radius: 1.875rem;
                                        border-bottom-right-radius: 1.875rem;
                                    }

                                    &.active {
                                        height: 6.5rem;
                                        max-height: 100%;
                                        visibility: visible;
                                        transition: all 0.4s;
                                    }

                                    .wpcf7-list-item {
                                        margin: 0 0 1rem;
                                        background-color: $white;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        label {
                                            display: flex;
                                            align-items: center;

                                            input[type="checkbox"] {
                                                display: none;

                                                &:checked ~ .wpcf7-list-item-label {
                                                    &::after {
                                                        border-color: $text-primary;
                                                        opacity: 1;
                                                    }
                                                }
                                            }

                                            .wpcf7-list-item-label {
                                                position: relative;
                                                color: $text-primary;
                                                @include font-primaria(1rem, 400);
                                                cursor: pointer;
                                                display: flex;
                                                align-items: center;

                                                &:before {
                                                    content: "";
                                                    border-radius: 0.125rem;
                                                    width: 1.25rem;
                                                    height: 1.25rem;
                                                    display: block;
                                                    background: $white;
                                                    border: 1px solid #787878;
                                                    margin-right: 0.5rem;
                                                    transition: background 0.3s;
                                                }

                                                &::after {
                                                    content: "";
                                                    height: 22px;
                                                    width: 10px;
                                                    background: transparent;
                                                    border: 0.125rem solid $white;
                                                    border-top: 0;
                                                    border-left: 0;
                                                    left: 11px;
                                                    top: -8px;
                                                    position: absolute;
                                                    transform: rotate(40deg);
                                                    opacity: 0;
                                                    transition: opacity 0.3s;
                                                }

                                                a {
                                                    text-decoration: underline;
                                                    transition: all 0.4s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.aceite {
                                margin-top: 1rem;
                                .wpcf7-form-control-wrap {
                                    width: 100%;
                                    .wpcf7-acceptance {
                                        width: 100%;
                                        margin: 0;
                                        display: flex;
                                        .wpcf7-list-item {
                                            display: flex;
                                            align-items: center;
                                            width: 100%;
                                            margin: 0;

                                            label {
                                                width: 100%;
                                                display: flex;
                                                align-items: center;
                                                position: relative;

                                                input[type="checkbox"] {
                                                    display: none;

                                                    &:checked ~ .wpcf7-list-item-label {
                                                        &::after {
                                                            border-color: $white;
                                                            opacity: 1;
                                                        }
                                                    }
                                                }

                                                .wpcf7-list-item-label {
                                                    position: relative;
                                                    color: $white;
                                                    @include font-primaria(0.875rem, 400);
                                                    cursor: pointer;
                                                    display: flex;
                                                    white-space: pre;

                                                    a {
                                                        color: $primary;
                                                        text-decoration: underline;
                                                    }

                                                    &:before {
                                                        content: "";
                                                        border-radius: 0.125rem;
                                                        width: 1.25rem;
                                                        height: 1.25rem;
                                                        display: block;
                                                        position: relative;
                                                        background: $text-primary;
                                                        border: 1px solid $white;
                                                        margin-right: 0.5rem;
                                                        transition: background 0.3s;
                                                    }

                                                    &::after {
                                                        content: "";
                                                        height: 22px;
                                                        width: 10px;
                                                        background: transparent;
                                                        border: 0.125rem solid $white;
                                                        border-top: 0;
                                                        border-left: 0;
                                                        left: 11px;
                                                        top: -8px;
                                                        position: absolute;
                                                        transform: rotate(40deg);
                                                        opacity: 0;
                                                        transition: opacity 0.3s;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer__bottom {
        width: 100%;
        margin-top: 4rem;

        .responsavel,
        .direitos {
            @include font-primaria(0.875rem, 400);
            color: $white;
            text-align: center;
            margin-bottom: 1rem;
        }

        .disclaimer {
            width: 100%;
            padding-bottom: 2.5rem;

            p {
                @include font-primaria(0.75rem, 400);
                color: $white;
                text-align: center;
            }
        }
    }

    /* ---- COOKIES -----*/

    .box-cookies.hide {
        display: none !important;
    }

    .box-cookies {
        position: fixed;
        background-color: $black;
        width: 67.4375rem;
        z-index: 998;
        bottom: 0;
        height: 5.5625rem;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1.5rem 2.125rem 1.625rem 3.125rem;

        // @media ($mobile) {
        //     justify-content: center;
        //     padding: 1.25rem 0;
        //     height: 12.4375rem;
        //     width: 100%;
        // }

        .container--cookies {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            // @media ($mobile) {
            //     justify-content: center;
            //     flex-wrap: wrap;
            // }

            .text {
                width: 70%;

                // @media ($mobile) {
                //     width: 19.75rem;
                //     margin-left: 0;
                // }

                .msg-cookies {
                    @include font-primaria(0.875rem, 300);
                    color: $white;
                    line-height: 1.375rem;
                    text-align: center;

                    a {
                        text-decoration: underline;
                    }

                    // @media ($mobile) {
                    //     text-align: center;
                    //     font-size: 1rem;
                    //     line-height: 1.375rem;
                    //     width: 100%;
                    //     margin-bottom: 1.5rem;
                    // }
                }
            }

            .btn__primary {
                border-radius: 0.125rem;
                width: 14.0625rem;

                // @media ($mobile) {
                //     width: 13.125rem;
                // }
            }
        }
    }

    /* ---- COOKIES -----*/
}
