.pageProcedimentos {
    width: 100%;

    .pageProcedimentos__content {
        width: 100%;
        padding: 10.6875rem 0 8.4375rem;

        .pageProcedimentos__h2 {
            @include title;
            color: $text-primary;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .pageProcedimentos__h3 {
            @include font-primaria(1.25rem, 700);
            color: $text-primary;
            text-align: center;
        }

        .procedimentos__inner {
            width: 100%;
            margin-top: 6.875rem;
            display: flex;
            justify-content: center;
            gap: 0 4.625rem;

            .procedimento {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 17.625rem;

                &:nth-child(2) {
                    max-width: 19.5625rem;
                }

                .procedimento__h2 {
                    @include font-primaria(1.125rem, 700);
                    color: $text-primary;
                    text-align: center;
                    margin-bottom: 0.875rem;
                }

                .procedimento__text {
                    @include font-primaria;
                    color: $text-primary;
                    text-align: center;
                    line-height: 1.25rem;
                }
            }
        }

        .btn__primary {
            margin: 4.875rem auto 0;

            @include mediaHover() {
                &:hover {
                    background-color: transparent;
                    border: 0.0625rem solid $primary;
                    color: $primary;
                    transition: all 0.4s;
                }
            }
        }
    }
}

.pageProcedimentos__metodo {
    width: 100%;
    background-color: $text-primary;

    .metodo__content {
        width: 100%;
        padding: 6.75rem 0 8rem;

        .metodo__h2 {
            @include title;
            color: $primary;
            text-align: center;
            margin-bottom: 4.8125rem;
        }

        .metodos {
            width: 100%;
            display: grid;
            gap: 1.875rem 5.625rem;
            grid-template-columns: repeat(2, 1fr);

            .metodo {
                display: flex;
                gap: 0 2.0625rem;

                .image {
                    width: 100%;
                    max-width: 5.625rem;
                }

                .description {
                    width: 100%;
                    max-width: 26.5rem;

                    .title {
                        @include font-primaria(1.125rem, 700);
                        color: $primary;
                        margin-bottom: 1rem;
                    }

                    .text {
                        width: 100%;

                        p {
                            @include font-primaria;
                            color: $white;
                            line-height: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

.pageProcedimentos__tratamentos {
    width: 100%;

    .tratamentos__content {
        width: 100%;
        padding: 7.875rem 0 12.5rem;

        .tratamentos__h2 {
            @include title;
            color: $text-primary;
            text-align: center;
            margin-bottom: 4.8125rem;
        }

        .tratamentos {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 0 4.5625rem;

            .tratamento {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 19.75rem;

                .image {
                    display: flex;
                    align-items: flex-end;
                    height: 5.8125rem;
                    margin-bottom: 1.1875rem;
                }

                .description {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .title {
                        @include font-primaria(1.25rem, 700);
                        color: $text-primary;
                        text-align: center;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-bottom: 2.8125rem;

                        &::before {
                            content: "";
                            width: 18.125rem;
                            height: 0.125rem;
                            position: absolute;
                            bottom: -0.5625rem;
                            background-color: $primary;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }

                    .text {
                        width: 100%;

                        p {
                            @include font-primaria(1.125rem, 700);
                            color: $text-primary;
                            text-align: center;
                            margin-bottom: 1rem;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
